.top {
    position:absolute;
    left:0; right:0;
    height: 115px;
    width: 1084px;
}
.left {
    position:absolute;
    left:0; top:0px; bottom: 0;
    width: 150px;
}
.main {
    position: absolute;
    left:150px; top:92px; right:0; bottom:0;
}

.teacherbar {
  position: absolute;
  left: 1084px;
  right: 0;
  height: 92px;
}

.top {
   background: #00A6B6;
 }
.left {
   background: #282634;
 }
.main {
   background: white;
 }

.teacherbar {
  background: #047F8B;
}


 #home {
   position: absolute;
   top: 110px;
   left: 40px;
/*  padding-left: 50px;
    padding-right: 75px;
    padding-top: 80px; */

 }

#files {
  position:absolute;
  top: 260px;
  left: 40px;
/*   padding-left: 50px;
  padding-right: 75px;
  padding-top: 90px; */
}

#settings {
  position: absolute;
  top: 410px;
  left: 40px;
/*   padding-left: 50px;
  padding-right: 75px;
  padding-top: 90px; */
}

#sign-out{
  position: absolute;
  top: 650px;
  left: 40px;
/*   padding-left: 50px;
  padding-right: 75px;
  padding-top: 260px; */
}

#teacher-pic{
  position: relative;
  height: 50px;
  width: 50px;
  left: 75px;
  top: 20px
}

.wordpos {
  position: relative;
  left: 170px;
  bottom: 55px;
  color: #FFFFFF;
  font-size: 13px;
}

.upperbar {
  position: absolute;
  left: 150px;
  top: 92px;
  right: 0px;
  bottom: 0px;
  height: 60px;
  width: 1292px;
  background-color: whitesmoke;
}

#calendarView {
  position: absolute;
  display: inline;
  padding-left: 10px;
  top: 15px;
  color: #777273;
}

#homeworkView {
  position: absolute;
  display: inline;
  top: 15px;
  left: 200px;
}

.searchbar {
  position: absolute;
  left: 150px;
  top: 150px;
  height: 60px;
  width: 1142px;
  background-color: #E9E9E9;
}

#SearchIcon {
  padding-left: 20px;
  transform: rotate(90deg);
}

#searchinput {
  position: absolute;
  top: 15px;
}

.calendarzone {
  position: absolute;
  left: 150px;
  top: 200px;
  width: 1292px;
  height: 479px;
}

#calendar {
  position: absolute;
	width: 100%;
	margin: 0 auto;
}

.addClass {
  position: absolute;
  left: 1292px;
  top: 150px;
  width: 150px;
  height: 60px;
  background-color: #E9E9E9;
  border-style: solid;
  border-color: #ebebeb;
}

#AddAClass {
  position: absolute;
  top: 8px;
  right: 25px;
}

#plusIcon {
  position: absolute;
  top: 20px;
}

#chevronLeft {
  position: absolute;
  left: 450px;
  top: 40px;
  color: #FFFFFF;
}

#currentDate {
  position: absolute;
  top: 15px;
  left: 500px;
  color: #FFFFFF;
  font-style: Raleway;
}

#chevronRight {
  position: absolute;
  top:40px;
  left: 815px;
  color: #FFFFFF;
}

/* Styling the Modal */

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rbga(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/*Add Animation*/
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/*Close Button*/

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #A4A7A7;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
